/*Background body*/
body {
    background-color: #f0f0fe;
}
/*Logo*/
#logo{
	width: 170px;
	height: 170px;
	top: 1%;
	margin-left: 10px;
}

/* Wrapper */
#wrapper {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
    width: 100%;
	background-size: cover;
}


/* Buttons */
.button {
	background-color: #e2e2fd;
	background-repeat: no-repeat;
	width: 150px;
	height: 38px;
	display: block;
	float: left;
	margin-top: 2px;
	margin-right: 4px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333333;
	/*font-family: Georgia, "Times New Roman", serif;*/
    font-family: "Palatino Linotype", Palatino, Georgia, serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 38px;
	color: #321119;
    transition: color 0.2s linear;
    cursor: grab;
}

.homeButton {
	background-color: rgb(252, 189, 95);
	background-repeat: no-repeat;
	width: 200px;
	height: 50px;
	display: block;
	float: left;
	margin-top: 2px;
	margin-right: 120px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333333;
	/*font-family: Georgia, "Times New Roman", serif;*/
    font-family: "Palatino Linotype", Palatino, Georgia, serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
    transition: color 0.2s linear;
    cursor: grab;
}

#topbuttonset {
	margin-top: 5%;
	margin-bottom: 2px;
	margin-left: 17%;
}


.homeButtonRow {
	margin-top: 0%;
	margin-left: 31.5%;
	position: relative;
	display: inline-block;
	
}

/*Other Styles*/
#dateTime{
    position: absolute;
    right: 2px;
    top: 2px;
	font-size: 20px;
	padding-bottom: 10%;
}
.centralizeText{
	text-align: center;
}

.selectLocation{
	color: #2709ad;
	cursor: grab;
}

.store{
	margin-right: 3%;
	margin-left: 3%;
	border: 3px solid black;
	height: 300px;
	width: 260px;
	overflow: hidden;
	display: inline-block;

}
.storeImg{
	width: "200px"; 
	height: "160px";
	cursor: grab;
	object-fit: contain;
}

#maintext{
	text-align: center;
	margin-top: 5%;
}

#copyright{
	text-align: center;
	margin-top: 5%;
	background-color: #e2e2fd;
}

#subtext1{
	text-align: center;
}