/* Wrapper */
#wrapper {
	margin-left: auto;
	margin-right: auto;
	/*width: 920px;*/
    background-size: cover;
}

/* Buttons */
.button {
	background-color: #4CAF50;
	background-repeat: no-repeat;
	width: 170px;
	height: 38px;
	display: block;
	float: left;
	margin-top: 2px;
	margin-right: 4px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333333;
	/*font-family: Georgia, "Times New Roman", serif;*/
    font-family: "Palatino Linotype", Palatino, Georgia, serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 38px;
	color: #000000;
    transition: color 0.2s linear;
    cursor: grab;
}

.homeButton {
	background-color: rgb(252, 189, 95);
	background-repeat: no-repeat;
	width: 200px;
	height: 50px;
	display: block;
	float: left;
	margin-top: 2px;
	margin-right: 4px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333333;
	/*font-family: Georgia, "Times New Roman", serif;*/
    font-family: "Palatino Linotype", Palatino, Georgia, serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
    transition: color 0.2s linear;
    cursor: grab;
}

#topbuttonset {
	margin-bottom: 2px;
}

.buttonrow {
	padding-bottom: 40px;
	
}

.homeButtonRow {
    padding-bottom: 40px;
    left: 40%;
    position: relative;
    display: inline-block;
	
}

/*Other Styles*/
#dateTime{
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 20px;
}